# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/
.venv/

# Environment Variables
.env
*.env

# Local SQLite Databases
Employee-Database-MCP-Agent/database/*.db
*.sqlite
*.sqlite3

# VS Code
.vscode/

# PyCharm
.idea/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Output Files
output.json

# Node.js
node_modules/
npm-cache/
npm-temp/

# Pip Temporary Files and Cache
pip-cache/
pip-temp/

# OS Files
.DS_Store
Thumbs.db