# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/
.venv/

# Environment Variables
.env
*.env

# VS Code
.vscode/

# PyCharm
.idea/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Output Files
output.json

# OS Files
.DS_Store
Thumbs.db

Employee-Database-MCP-Agent/database/*.db